.lati{
    width: 20px;
    height: 800px;
    background-color: brown;
}
.green{
    width: 600px;
    height: 400px;
    background-color: green;
    margin-left: 20px;
    position: relative;
}
.red{
    width: 150px;
    height: 150px;
    left: 50%;
    top: 50%;
    position: absolute;
    transform: translate(-50%,-50%);
    border-radius: 50%;
    background-color: red;
}